Anpero.PaymentHelper/Anpero.PaymentHelper/obj/
Anpero.PaymentHelper/.vs/
Anpero.PaymentHelper/Anpero.PaymentHelper/bin/
Anpero.PaymentHelper/TestPayment/obj/
Anpero.PaymentHelper/TestPayment/bin/
/Anpero.PaymentHelper/Payment.QrPayload/obj
